<ion-view cache-view="false" class="category-list-view" >
    <ion-nav-title>
        <span>{{pack.package.name}}</span>
    </ion-nav-title>
    <ion-content>
        <div class="flexcont btnpd">
            <div class="innerdiv brdright">Price <span class="countconsult">INR {{pack.package.interfacePrice|ceil}}</span></div>
            <div class="innerdiv">Duration
                <span class="countconsult" ng-if="pack.package.validity_in_days != 0">{{pack.package.validity_in_days}} Days</span>
                <span class="countconsult" ng-if="pack.package.validity_in_days == 0">NA</span>
                <span class="countconsult">{{pack.elapsed_days==''? '': pack.elapsed_days}}{{pack.elapsed_days==''? '': ' Days Elapsed'}} </span>
            </div>
        </div>
        <div class="item item-divider">Description</div>
        <div class="cardcont txt-justify" ng-controller="pkgDetailsCtrl" ng-click="modal.show()">
            <p>
                {{pack.package.desc}}
            </p>
            <div class="sbtn viewmore">readmore</div>
            <br/>
        </div>
        <div class="item item-divider">Consultations</div>

        <div class="flexcont btnpd">
            <div class="innerdiv brdright" ng-if="pack.package.video_limit != 0">
                Video <span class="countconsult" ng-if="pack.package.video_limit != '-1'"> {{pack.used_video}} / {{pack.package.video_limit}}</span>
                <span class="countconsult" ng-if="pack.package.video_limit == '-1'">Unlimited</span>
            </div>
            <div class="innerdiv brdright" ng-if="pack.package.clinic_limit != 0">
                Clinic <span class="countconsult" ng-if="pack.package.clinic_limit != '-1'"> {{pack.used_clinic}} / {{pack.package.clinic_limit}}</span>
                <span class="countconsult" ng-if="pack.package.clinic_limit == '-1'">Unlimited</span>
            </div>
            <div class="innerdiv brdright" ng-if="pack.package.home_limit != 0">
                Home <span class="countconsult" ng-if="pack.package.home_limit != '-1'"> {{pack.used_home}} / {{pack.package.home_limit}} </span>
                <span class="countconsult" ng-if="pack.package.home_limit == '-1'">Unlimited</span>
            </div>
            <div class="innerdiv" ng-if="pack.package.chat_limit != 0">
                Chat  <span class="countconsult" ng-if="pack.package.chat_limit != '-1'">{{pack.used_chat>pack.package.chat_limit? 'Expired': pack.used_chat}} / {{pack.package.chat_limit}} Days</span>
                <span class="countconsult" ng-if="pack.package.chat_limit == '-1'">{{pack.used_chat}} /Unlimited</span>
            </div>
            <!--            <div class="innerdiv brdright">Video <span class="countconsult">2/4</span></div>
                        <div class="innerdiv">Chat <span class="countconsult">3/6 Days</span></div>-->
        </div>

        <div class="cardcont">
            <div class="row p0">
                <div class="col col-33"><strong>{{pack.package.restricted_to == 1 ? 'Specialist(s)' : pack.package.restricted_to == 2 ? 'Category' : 'Specialist(s)/Category'}} </strong></div> 
                <div class="col col-67" >  <span class="countconsult" >{{pack.package.restricted_to == 1? pack.specialist.length:pack.package.restricted_to == 2? pack.categories.length: 'Any'}}</span>
                    <div class="rtbtn" ng-controller="alldoctrsCtrl" ng-click="showDr();" ng-if="pack.package.restricted_to == 1 || pack.package.restricted_to == 2">View Details</div>
                    <div class="rtbtn" ng-controller="anydoctrsCtrl" ng-click="showDr();" ng-if="pack.package.restricted_to == 0">View Details</div>
                </div>
            </div>
            <!--            <div class="row p0" ng-if="pack.package.restricted_to == 2">
                            <div class="col col-33"><strong>Category</strong></div>
                            <div class="col col-67" > 
                                <ul>
                                    <li ng-repeat="spec in pack.categories" ng-controller="doctrsInfoCtrl" ng-click="showDrs(spec.id);">{{spec.specialization}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row p0" ng-if="pack.package.restricted_to == 0">
                            <div class="col col-33"><strong>Category & Specialist</strong></div>
                            <div class="col col-67" > 
                                Any
                            </div>
                        </div>-->
        </div>
        <div class="item item-divider">Terms & Conditions</div>
        <div class="cardcont txt-justify" ng-controller="pkgtermsCtrl" ng-click="modal.show()">
            <p>{{pack.package.terms_and_conditions}}</p>
            <br/>
            <div class="sbtn viewmore">readmore</div>
        </div>
    </ion-content>

</ion-view>

<script id="pkg-details" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
   <h1 class="title" ng-if="apkLanguage == 'english'">Package Description</h1>
     <h1 class="title" ng-if="apkLanguage != 'english'">{{langtext.package[language]}} {{langtext.descripion[language]}}</h1>
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
    <div class="cardcont txt-justify">
    <p>{{pack.package.desc}} </p>    
    </div>
    </ion-content>
    </ion-modal-view>
</script>

<script id="pkg-terms" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
  <h1 class="title" ng-if="apkLanguage == 'english'">Terms & Conditions</h1>
 <h1 class="title" ng-if="apkLanguage != 'english'"> {{langtext.terms[language]}}  &  {{langtext.conditions[language]}} </h1>
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
    <div class="cardcont txt-justify">
    <p>{{pack.package.terms_and_conditions}}</p>
    </div>
    </ion-content>
    </ion-modal-view>
</script>

<script id="infodoctrs" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Doctor Info</h1>
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
    <div class="list card post-item">
    <div class="post-content item item-text-wrap">
    <a ui-sref="#" >
    <div class="card-left">	
    <img class="user-image-circle" ng-if="doc.image != ''" ng-src="{{imgpath}}{{doc.image}}">
    <img class="user-image-circle" ng-if="doc.image == ''" ng-src="img/default-user.jpg">
    </div>
    <div class="card-detail txt-left">
    <p><strong>{{doc.fname}} {{doc.lname}}</strong><br>
    <span ng-repeat="spec in doc.specializations">
    {{doc.specializations[0][language]}}{{$last==true? '': ',&nbsp;'}} 
    </span>
    </p>
    </div>
    <div class="row txt-left">
    <div class="col"><p><strong>Experience</strong><br>{{doc.exp}}</p></div>	
    <div class="col"><p><strong>Qualification</strong><br>
    <span ng-repeat="qual in doc.qualifications">{{qual.qualification}}{{$last==true? '': ',&nbsp;'}}</span>
    </p></div>	
    </div>
    <div class="row txt-left">
    <div class="col">
    <p><strong>Languages</strong><br>
    <span ng-repeat="lang in doc.languages">
    {{lang.language}}{{$last==true? '': ',&nbsp;'}}
    </span>
    </p></div>	
    <div class="col">
    <p><strong>Focus Area</strong><br>
    <span ng-repeat="focus in doc.focuses">
    {{focus.focus}}{{$last==true? '': ',&nbsp;'}}
    </span>
    </p></div>	
    </div>
    <div class="clr"></div>
    </a>
    </div>
    </div>
    </ion-content>
    </ion-modal-view>
</script>

<script id="catdoctrs" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title" ng-if="apkLanguage == 'english'">Doctor Information</h1>
 <h1 class="title" ng-if="apkLanguage != 'english'">{{langtext.doctor[language]}} {{langtext.information[language]}}</h1>
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
    <div class="list consultview">
    <div class="posts-list" ng-repeat="doc in doctrs">
    <div  class="list card post-item">
    <div class="post-content item item-text-wrap p0">
    <a ui-sref="app.consultation-profile({'id' : doc.id, 'res' : 'json'})" class="card-content" >
    <div class="card-left">	
    <img class="user-image-circle" ng-if="doc.image != ''" ng-src="{{imgpath}}{{doc.image}}"><img class="user-image-circle" ng-if="doc.image == ''" ng-src="img/default-user.jpg">
    </div>
    <div class="card-detail txt-left" >
    <p><strong>{{doc.user_lang[language]}}</strong><br/>
    <span ng-repeat="spec in doc.specializations">
    {{doc.specializations[0][language]}}{{$last==true? '': ',&nbsp;'}} 
    </span></p>
    </div>
    <div class="row txt-left">
    <div class="col"><p><strong>Experience</strong><br/>{{doc.exp}}</p></div>	
    <div class="col"><p><strong>Qualification</strong><br/>
    <span ng-repeat="qual in doc.qualifications">{{qual.qualification}}{{$last==true? '': ',&nbsp;'}}</span></p></div>	
    </div>
    <div class="row txt-left">
    <div class="col"><p><strong>Languages</strong><br/>
    <span ng-repeat="lang in doc.languages">
    {{lang.language}}{{$last==true? '': ',&nbsp;'}}
    </span></p></div>	
    <div class="col"><p><strong>Focus Area</strong><br/>
    <span ng-repeat="focus in doc.focuses">
    {{focus.focus}}{{$last==true? '': ',&nbsp;'}}
    </span></p></div>	
    </div>
    <div class="clr"></div>
    </a>
    </div>
    </div>
    </div>
    </div>
    </ion-content>
    </ion-modal-view>
</script>

<script id="anydoctrs" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
   <h1 class="title" ng-if="apkLanguage == 'english'">Details</h1>
 <h1 class="title" ng-if="apkLanguage != 'english'">{{langtext.details[language]}}</h1>
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
    <my-tabs class="themetabs">
    <my-tab title="Valid For">
    <p><strong> Speciality : </strong> Any</p>
    <p><strong> Category : </strong> Any </p>
    </my-tab>
    <my-tab title="Terms & Conditions">
    <div class="tabcontainer p0" >
    <p>
    {{terms}}
    </p>
    </div>
    </my-tab>
    </my-tabs>
    </ion-content>
    </ion-modal-view>
</script>