@import url(https://fonts.googleapis.com/css?family=Muli:400,300);

.Chatfield{width: 75%;
    float: left;
    height: 42px;
    padding: 13px;}
    .ot-character-counter{display: none;}
    .ot-bottom-line{      float: left;
    width: 25%;
    background: #ec7935;
    /* width: 100%; */
    height: 45px;
    text-align: center;
    line-height: 45px;
    border: 0;
    color: #fff;}


    #sent-btn{padding:0; background: #ec7935;}
    #sent-btn .ot-input{width: 100%;}

.ot-textchat {
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  color: #333;
 /* position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #eee;
}

.ot-textchat * {
  margin: 0;
  padding: 0;
}

.ot-textchat .ot-bubbles {


}


.ot-textchat .chatscroll{
	   padding-bottom: 0px;
	  position: relative;
  margin-bottom: 1em;
/*  height: calc(100% - 1em);
  overflow-y: scroll;
    overflow-x: hidden; */
}



/*
 * By default, normal bubbles are bubbles from the other participants and
 * the special case is the local participan.
 */
section.ot-bubble.mine {
  
  margin-left: 1em;
/*   border-bottom: 0.2em solid #ECEBEB; */
  border-bottom:0;
  white-space: nowrap;
}

section.ot-bubble{/* background-color: #58CEEF;  */ text-align:right;     margin-top: 10px;}
section.ot-bubble.mine{text-align:left;     margin-left: 0.5em;}

.ot-textchat .ot-bubble > div{background-color: #4CBBDA;     border-radius: 5px;}


/* Centering triangle with bubble contents */
.ot-textchat .ot-bubble:before,
.ot-textchat .ot-bubble:after,
.ot-textchat .ot-bubble > div {
  display: inline-block;
  vertical-align: middle;
}

.ot-textchat .ot-bubble > div {
  width: calc(100% - 1.2em - 2em);
  position: relative;
  left: -0.8em;
  padding: 0.5em 2em 0.5em 1.2em;
  white-space: normal;

}

/*
 * To keep the start of the text and the end aligned, we keep the width
 * but reducing the right padding so we "free" some space at right.
 */
.ot-textchat .ot-bubble.mine > div {
  width: calc(100% - 1.2em - 2em);
  background-color: #FFF;
  padding-right: 1em;
}
 
/* The left triangle */
.ot-textchat .ot-bubble:before {
  content: "";
  /* triangle */
  border: 0.6em solid transparent;
  border-left: none;
  border-right-width: 0.8em;
  border-right-color: #4CBBDA;
  /* move outside the box */
  position: relative;
  left: -0.7em;
}

/*
 * Simply hide (not destroy) the left triangle to simplify stylizing the
 * content.
 */
.ot-textchat .ot-bubble.mine:before {
  border-color: transparent;
}

/* The right triangle */
.ot-textchat .ot-bubble.mine:after {
  content: "";
  /* triangle */
  border: 0.6em solid transparent;
  border-right: none;
  border-left-width: 0.8em;
  border-left-color: #EEE;
  /* move outside the box */
  position: relative;
  right: 0.8em;
}

.ot-textchat .ot-bubble-header {
  font-size: 0.8em;
  overflow: auto;
  margin-bottom: 5px;
  /* position: absolute; */
  /* bottom: 0; */
  /* float: right; */
}

.ot-textchat .ot-message-sender {
  float: left;
}

.ot-textchat .ot-message-timestamp {
  float: left;
}

.ot-textchat .ot-message-content {
  font-size: 1em;
  margin-bottom:5px;
  text-align: left;
}

.ot-textchat .ot-input {
  /*position: fixed;*/
      margin-bottom: 50px;
  margin: 0 0;
 bottom: 0; 
  width:100%; box-shadow: -1px 0 2px rgba(0,0,0,0.2);
}

.ot-textchat .ot-composer {
  padding: 0.8em;
  height: 2.7em;
  width: 72%;
  border: none;
  background-color: #fff;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.4em;
  /* line-height: 1.5em; */
  outline: none;
  float: left;
  overflow: auto; 
}

.ot-textchat .ot-error-zone,
.ot-textchat .ot-new-messages {
  padding: 1em;
  position: absolute;
  left: 0;
  right: 0;
  height: 2em;
  background-color: #F8F8F8;
  transform: translateY(calc(-100%));
  text-align: center;
}

.ot-textchat .ot-error-zone {
  color: #EE2E08;
}

.ot-textchat .ot-new-messages {
  color: #888;
}

.ot-textchat .ot-bottom-line {
  overflow: auto;
}

.ot-textchat .ot-character-counter {
  float: left;
  margin: 1em 0;
  line-height: 2.1em;
  font-size: 1.1em;
  display:none;
}

.ot-textchat .ot-character-counter.error {
  color: #EE2E08;
}

.ot-textchat .ot-send-button {
  background: #ec7935;
  color: #fff;
  border: none;
  outline: none;
  float: right;
  padding: 0.8em;
  font-size: 1.3em; width:100%; 
  /* color: inherit; */
}

.ot-textchat .ot-send-button:hover {
  background-color: #ec7935;
}

.ot-textchat .ot-send-button[disabled] {
  color: #fff;
}
.ot-bubble.mine .ot-message-content{text-align:right;}
.ot-bubble .ot-message-content{/* text-align:right; */ /*  font-weight:bold; */}
.ot-textchat .ot-bubble-header{margin-bottom:5px;/* text-align: left; */}

.ot-bubble.mine .ot-textchat .ot-message-timestamp{float:right !important;}
.ot-bubble.mine .ot-message-timestamp{float: right;}

.ot-textchat .ot-message-timestamp, .ot-bubble .ot-message-content{color:#fff;}
.ot-bubble.mine   .ot-message-timestamp, .ot-bubble.mine .ot-message-content{color:#000 !important;}