<ion-view class="forgot-password-view auth-view" cache-view="false">
    <ion-content scroll="false" style="background:#f1f1f1;">
        <div class="row">
            <div class="col col-center">
          
                <div class="card forgot-password-container">
                    <form name="forgot_password_form" class="" novalidate>
                        <div class="item item-body">
                            <label class="item item-input">
                                <input type="email" placeholder="Enter valid email address" name="user_email" ng-model="user.email" required>
                                <p ng-show="forgot_password_form.user.email.$error.required">Email is required.</p>
                                <p ng-show="forgot_password_form.user.email.$error.email">Email is invalid</p>
                            </label>

                        </div>
                        <div class="item item-body">
                            <label class="item item-input">
                                <input type="text" placeholder="Enter your mobile number" name="user_phone" ng-model="user.phone" required ng-minlength="10" ng-maxlength="10">
                                <p ng-show="forgot_password_form.user.phone.$error.minlength">Username is too short.</p>
                                 <p ng-show="forgot_password_form.user.phone.$error.mixlength">Sorry You are exceeding the Limit.</p>
                            </label>

                        </div>
                        <div class="item item-body bottom-content">
                            <button type="submit" class="button button-positive button-block" ng-click="recoverPassword(user.email, user.phone)" ng-disabled="forgot_password_form.$invalid">
                                Get OTP
                            </button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </ion-content>
</ion-view>
