<ion-view class="login-view auth-view" cache-view="false">
    <ion-content scroll="false">
        <div class="row">
            <div class="col col-center">
                <div class="card login-container" content-tabs tabsdata='tabsdata'>
                    <form name="login_form" class="" novalidate ng-cloak id="loginuser" ng-submit="doLogIn()">
                        <input type="hidden" value="{{interface}}" ng-model="interface" name="interface">
                        <my-tabs ng-if="language == 'english'"> 

                            <my-tab  title="login"> 
                                <div class="list">
                                    <label class="item item-input">
                                        <input type="email" placeholder="Smartcars Id" id="useremail" name="user" ng-model="user.email" required>

                                    </label>

                                    <label class="item item-input" show-hide-container>
                                        <input type="password" placeholder="Password" id="password" name="password" ng-model="user.password" required show-hide-input>                                        
                                    </label>                                    
                                </div>
                                <div class='error text-center'>
                                    <span class='error text-center'  style="color:#e42012;" ng-model='loginError' ng-bind-html='loginError' ></span>
                                </div>

                                <div class="item-body bottom-content">
                                    <button type="submit" class="button button-positive button-block"  ng-disabled="(selected_tab == 'Login') ? (login_form.email.$invalid || login_form.password.$invalid) : ((selected_tab == 'Phone') ? (login_form.user_phone.$invalid || login_form.user_pin.$invalid) : false)">
                                        Login
                                    </button>
                                </div>
                            </my-tab>

                        </my-tabs>
                        <my-tabs  ng-if="language != 'english'">
                            <my-tab  title="{{langtext.login[language]}}"> 
                                <div class="list">
                                    <label class="item item-input">
                                        <input type="email" placeholder="{{langtext.email[language]}}" id="useremail" name="user" ng-model="user.email" required>
                                    </label>

                                    <label class="item item-input" show-hide-container>
                                        <input type="password" placeholder="{{langtext.password[language]}}" id="password" name="password" ng-model="user.password" required show-hide-input>                                        
                                    </label>                                    
                                </div>
                                <div class='error text-center'>
                                    <span class='error text-center'  style="color:#e42012;" ng-model='loginError' ng-bind-html='loginError' ></span>
                                </div>

                                <div class="item-body bottom-content">
                                    <button type="submit" class="button button-positive button-block"  ng-disabled="(selected_tab == 'Login') ? (login_form.email.$invalid || login_form.password.$invalid) : ((selected_tab == 'Phone') ? (login_form.user_phone.$invalid || login_form.user_pin.$invalid) : false)">
                                        {{langtext.login[language]}}
                                    </button>
                                </div>
                            </my-tab>
                        </my-tabs>

                    </form>
                </div>
         <!--        <div class="alternative-actions">
                    <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.forgot-password">
                      {{langtext.forgot_password[language]}}
                    </a>
                    <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
                        Sign Up
                    </a>
                </div> -->
            </div>
        </div>
    </ion-content>
</ion-view>
