<ion-view class="forgot-password-view auth-view" cache-view="false">
  <ion-content scroll="false" style="background:#f1f1f1;">
    <div class="row">
      <div class="col col-center">
    
        <div class="card forgot-password-container">
          <form name="update_password_form" class="" novalidate>
            <div class="item item-body">
              <label class="item item-input">
                <input type="text" placeholder="OTP" name="passcode" ng-model="passcode" required>
			  <p ng-show="update_password_form.passcode.$error.required"></p>
              </label>
                
            </div>
              <div class="item item-body">
              <label class="item item-input">
                <input type="password" placeholder="New Password" name="password" id="password" ng-model="password" required ng-minlength="6">
                <p ng-show="update_password_form.password.$error.minlength">Password is too short.</p>
              </label>
                
              </div>
             <div class="item item-body">
              <label class="item item-input">
                <input type="password" placeholder="Confirm Password" name="cpassword" ng-model="cpassword" id="cpassword" required change-password-c="{{password === cpassword}}" ng-minlength="6">
                <p ng-show="update_password_form.cpassword.$error.noMatch1">Passwords do not match.</p>
                 <p ng-show="update_password_form.cpassword.$error.minlength">Password is too short.</p>
               
              </label>
                
            </div>
            <div class="item item-body bottom-content">
                <input type="hidden"  name="email" ng-model="email" >
              <button type="submit" class="button button-positive button-block" ng-click="updatePassword(passcode,password,cpassword)" ng-disabled="update_password_form.$invalid">
                Update Password
              </button>
            </div>
          </form>
        </div>
  <!--       <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            Log In
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            Sign Up
          </a>
        </div> -->
      </div>
    </div>
  </ion-content>
</ion-view>
