
<div class="tcontent" ng-controller="FamilyHistoryCtrl">
    <div class="posts-list">
        <div class="mt15" ng-if="recorddata.length == 0"> <p class="txt-center" >No records here</p></div>
        <div class="list card post-item greenbox" ng-repeat="rdata in recorddata" ng-if="recorddata.length > 0">
                    <div class="card-content p0">
                        <div class="row post-heading item item-text-wrap ">
                            <div class="col col-75">
                                <h2 class="post-title">Relation: {{rdata.record_metadata[1].value}}</h2>
                            </div>
                        </div>
                        <div class="post-content item item-text-wrap p0">
                            <div class="row">
                                <div class="col">Age</div>
                                <div class="col">: {{rdata.record_metadata[2].value}}</div>
                            </div>
                            <div class="row">
                                <div class="col">Known Conditions</div>
                                <div class="col">: <span ng-repeat="sel in knConditions[$index]"> {{sel.condition}} <br/></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Other Information</div>
                                <div class="col">: {{rdata.record_metadata[4].value!=''? rdata.record_metadata[4].value:'NA'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>	
</div>

<script id="addrelation" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Add New Relation</h1>
    <button class="button button-clear" ng-click="modal.hide()">Close</button>
    </ion-header-bar>
    <ion-content class="padding">
    <form name="addFamilyForm" id="addFamilyForm" enctype="multipart/form-data" novalidate >
    <input type="hidden" ng-model="record.recordUser" value="{{userId}}" name="userId" />
    <input type="hidden" value="Patient History" name="rectype" />
    <input type="hidden" id="patientId" ng-model="record.recordPatient" value="{{patientId}}" name="patient" />
    <input type="hidden" ng-model="record.recordPatient" value="{{doctorId}}" name="doctor" />
    <input type="hidden" ng-model="record.recordCat" value="{{record.id}}" name="recordCat" />
    <div class="list">
    <div ng-repeat="field in fields">
    <div ng-if="field.field_types.value == 'select'">
    <label class="item item-input item-select">
    <div class="input-label">{{field.field}}</div>   
    <select ng-init="selData = (field.field_values).split(',')" name="{{field.name}}" required>
    <option ng-repeat="sel in selData" value="{{sel}}"  ng-selected="sel == ab.value"> {{sel}} </option>
    </select>
    </label>
    </div>
    <div ng-if="field.field_types.value == 'number'">
    <label class="item item-input">
    <span class="input-label" >Age</span>
    <input type="number" placeholder="Enter Age" name="{{field.name}}" >
    </label>
    </div>
    </div>

    <div class="item item-divider prelative">Know Conditions 
    <div class="addbtn2" ng-controller="knowConditionCtrl"  ng-click="modal.show()"><i class="ion-plus-circled"></i></div>
    </div>

    <div class="addremoverow first">
    <input type="hidden" ng-model="conIds" id="selconFam" value="" name="conditions" />
    <ul><li ng-repeat="sel in selConditions">{{sel.condition}}</li></ul>
    </div>

    <div class="item item-divider prelative"> Other Information</div>
    <div ng-repeat="field in fields">
    <div ng-if="field.field_types.value == 'textarea'">
    <label class="item item-input">
    <textarea row="5" name="{{field.name}}"></textarea>
    </label>
    </div>
    </div>

    <button class="button button-full button-positive" ng-click="saveFamilyHistory()"">Submit</button>
    </div>
    </form>
    </ion-content>
    </ion-modal-view>
</script>