
<div class="tcontent" ng-controller="DietCtrl">
    <div class="mt15" ng-if="prevDietRec.length == 0"> <p class="txt-center" >No records here</p></div>
    <div class="list card post-item greenbox" ng-repeat="dt in prevDietRec" ng-if="prevDietRec.length > 0">
        <div class="card-content p0">
            <div class="row post-heading item item-text-wrap ">
                <div class="col col-75">
                    <h2 class="post-title">Diet Plan {{$index + 1}}</h2>
                </div>
                <div class="col col-25 txt-right">
                    <div class="infomore" ng-click="infomore(dt.id + 'diet', 'diet')">
                        <span class="infb" id="{{dt.id}}dietd"> More</span> <i class="ion-android-arrow-forward"></i>
                    </div>
                </div>
            </div>
            <div class="post-content item item-text-wrap p0">
                <div class="row" ng-repeat="mdata in prevDietData[$index]| limitTo: 4">
                    <div ng-if="mdata.value != ''">
                        <div class="col" ng-if="mdata.fields.name != 'patient-4'"><strong>{{mdata.fields.field}} </strong></div>
                        <div class="col"> 
                            <div ng-if="mdata.fields.field == 'Related Problem'">
                                <div ng-repeat="problem in problems">
                                    <div ng-if="problem.record_id == mdata.value">{{problem.value}}</div>
                                </div>
                            </div>
                            <div ng-if="mdata.fields.field_type == '8'"> {{mdata.value|dateFormat3}}</div>
                            <div ng-if="mdata.fields.field_type == '12'"> {{mdata.value|time1}}</div>
                            <div ng-if="mdata.fields.field == 'No of days'"> 
                                <div class="dietdays">
                                    <button class="button button-small inbtn {{dd.isEmptyObj? 'filled-data':'filldata'}}" ng-repeat="dd in dietRec[$parent.$parent.$parent.$index]" ng-click="daymodalDisp($parent.$parent.$parent.$parent.$index, $index)">
                                        <!--<span class="icon ion-plus-circled"></span>--> Day {{$index + 1}}</button>
                                </div>
                            </div>
                            <div ng-if="mdata.fields.name != 'patient-4' && mdata.fields.field != 'Related Problem' && mdata.fields.field != 'No of days' && mdata.fields.field != 'Attachments' && mdata.fields.field_type != '12' && mdata.fields.field_type != '8'">
                                <div> {{mdata.value}}</div>
                            </div>
                            <div ng-if="mdata.fields.field == 'Attachments'">
                                <div > <div ng-repeat="attach in mdata.attachments" >
                                        <div ng-init="selData = (attach.orginial_name).split('.')">
                                            <div ng-if="selData[1] == 'png' || selData[1] == 'gif' || selData[1] == 'jpg' || selData[1] == 'PNG' || selData[1] == 'GIF' || selData[1] == 'JPG'">
                                                <a  class="filelink" style="cursor: pointer;" ng-click="showRecAttach(attach.host, attach.attachment_path, attach.orginial_name)" >
                                                    <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                </a>
                                            </div>
                                            <div ng-if="selData[1] != 'png' && selData[1] != 'gif' && selData[1] != 'jpg' && selData[1] != 'PNG' && selData[1] != 'GIF' && selData[1] != 'JPG'">
                                                <a class="filelink" href="{{attach.host}}{{attach.attachment_path}}{{attach.orginial_name}}"  download>
                                                    <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>				  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="infomore-div" id="{{dt.id}}diet">
                    <div class="row" ng-repeat="mdata in prevDietData[$index]" ng-if="$index >= 4">
                        <div ng-if="mdata.value != ''">
                            <div class="col" ng-if="mdata.fields.name != 'patient-4'"><strong>{{mdata.fields.field}} </strong></div>
                            <div class="col">
                                <div ng-if="mdata.fields.field == 'Related Problem'">
                                    <div ng-repeat="problem in problems">
                                        <div ng-if="problem.record_id == mdata.value">{{problem.value}}</div>
                                    </div>
                                </div>
                                <div ng-if="mdata.fields.field_type == '8'"> {{mdata.value|dateFormat3}}</div>
                                <div ng-if="mdata.fields.field_type == '12'"> {{mdata.value|time1}}</div>
                                <div ng-if="mdata.fields.field == 'No of days'"> 
                                    <div class="dietdays">
                                        <button class="button button-small inbtn {{dd.isEmptyObj? 'filled-data':'filldata'}}" ng-repeat="dd in dietRec[$parent.$parent.$parent.$index]" ng-click="daymodalDisp($parent.$parent.$parent.$parent.$index, $index)">
                                            <!--<span class="icon ion-plus-circled"></span>--> Day {{$index + 1}}</button>
                                    </div>
                                </div>
                                <div ng-if="mdata.fields.name != 'patient-4' && mdata.fields.field != 'Related Problem' && mdata.fields.field != 'No of days' && mdata.fields.field != 'Attachments' && mdata.fields.field_type != '12' && mdata.fields.field_type != '8'">
                                    <div> {{mdata.value}}</div>
                                </div>
                                <div ng-if="mdata.fields.field == 'Attachments'">
                                    <div > <div ng-repeat="attach in mdata.attachments" >
                                            <div ng-init="selData = (attach.orginial_name).split('.')">
                                                <div ng-if="selData[1] == 'png' || selData[1] == 'gif' || selData[1] == 'jpg' || selData[1] == 'PNG' || selData[1] == 'GIF' || selData[1] == 'JPG'">
                                                    <a  class="filelink" style="cursor: pointer;" ng-click="showRecAttach(attach.host, attach.attachment_path, attach.orginial_name)" >
                                                        <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                    </a>
                                                </div>
                                                <div ng-if="selData[1] != 'png' && selData[1] != 'gif' && selData[1] != 'jpg' && selData[1] != 'PNG' && selData[1] != 'GIF' && selData[1] != 'JPG'">
                                                    <a class="filelink" href="{{attach.host}}{{attach.attachment_path}}{{attach.orginial_name}}"  download>
                                                        <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>				  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="mealdispdetails" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="modalhead txt-center">Meal Details - {{Mealday}}</h1>
    <button class="button button-clear pull-right" ng-click="submitmodal()">Cancel</button>       
    </ion-header-bar>
    <ion-content>
    <div ng-if="dietPlanDetails.length == 0"><p class="text-center">No data added</p></div>
    <div ng-repeat="diet in dietPlanDetails">
    <div class="item item-divider mt15">Meal {{$index+1}}</div>
    <div ng-repeat="meal in diet" ng-if="meal.fields.name == 'meal-1' || meal.fields.name == 'value'">
    <div class="row" >
    <div class="col" ng-if="meal.fields.field == 'Time' && meal.value != '' && meal.value != '00:00:00'">{{meal.value|timeN}}</div>
    <div class="col" ng-if="meal.fields.field != 'Time'">{{meal.value}}</div>
    </div>
    </div>
    </div>  
    </ion-content>
    </ion-modal-view>
</script>