<div class="tcontent" >
    <div class="mt15" ng-if="diaText.value == ''"> <p class="txt-center" >No records here</p></div>
    <div class="list card post-item greenbox" ng-if="diaText.value != ''">
        <div class="card-content p0">
            <div class="row post-heading item item-text-wrap ">
                <div class="col col-75">
                    <h2 class="post-title">Diagnosis </h2>
                </div>
            </div>
            <div class="post-content item item-text-wrap p0">
                <div class="row">
                    <div class="col">{{diaText.value}}</div>                            
                </div>                        
            </div>
        </div>
    </div>
</div>


