<div class="tcontent" ng-controller="LifeStyleCtrl" > 
    <div class="mt15" ng-if="lifestyle.length == 0"> <p class="txt-center" >No records here</p></div>
    <div  class="list card post-item greenbox" ng-repeat="life in lifestyle" ng-if="lifestyle.length > 0">
        <div class="card-content p0">
            <div class="row post-heading item item-text-wrap ">
                <div class="col col-75">
                    <h2 class="post-title">Life Style {{$index + 1}}</h2>
                </div>
                <div class="col col-25 txt-right">
                    <div class="infomore" ng-click="infomore(life.id + 'life', 'life')">
                        <span class="infb" id="{{life.id}}lifel"> More</span> <i class="ion-android-arrow-forward"></i>
                    </div>
                </div>
            </div>
            <div class="post-content item item-text-wrap p0">
                <div class="row" ng-repeat="ldata in lifeData[$index]| limitTo: 2">
                    <div ng-if="ldata.value != '' && ldata.fields.name != 'no-of-frequency' && ldata.fields.name != 'no-of-times'">
                        <div class="col"><strong>{{ldata.fields.field}} </strong></div>
                        <div class="col"> 
                            <div ng-if="ldata.fields.field == 'Related Problem'">
                                <div ng-repeat="problem in problems">
                                    <div ng-if="problem.record_id == ldata.value"> {{problem.value}}</div>
                                </div>
                            </div>
                            <div ng-if="ldata.fields.field == 'Frequency'"> 
                                <div ng-if="ldata.value == 'Repeat'">{{ldata.value}} in {{repeatNo[$index]}} {{repeatFreq[$index]}}</div>
                                <div ng-if="ldata.value != 'Repeat'">{{ldata.value}}</div>
                            </div>
                            <div ng-if="ldata.fields.field_type == '8'"> {{ldata.value|dateFormat3}}</div>
                            <div ng-if="ldata.fields.field_type == '12'"> {{ldata.value|time1}}</div>
                            <div ng-if="ldata.fields.name != 'no-of-times' && ldata.fields.field != 'Frequency' && ldata.fields.field != 'Related Problem' && ldata.fields.field != 'Attachments' && ldata.fields.field_type != '12' && ldata.fields.field_type != '8'">
                                <div> {{ldata.value}}</div>
                            </div>
                            <div ng-if="ldata.fields.field == 'Attachments'">
                                <div > <div ng-repeat="attach in ldata.attachments" >
                                        <div ng-init="selData = (attach.orginial_name).split('.')">
                                            <div ng-if="selData[1] == 'png' || selData[1] == 'gif' || selData[1] == 'jpg' || selData[1] == 'PNG' || selData[1] == 'GIF' || selData[1] == 'JPG'">
                                                <a  class="filelink" style="cursor: pointer;" ng-click="showRecAttach(attach.host, attach.attachment_path, attach.orginial_name)" >
                                                    <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                </a>
                                            </div>
                                            <div ng-if="selData[1] != 'png' && selData[1] != 'gif' && selData[1] != 'jpg' && selData[1] != 'PNG' && selData[1] != 'GIF' && selData[1] != 'JPG'">
                                                <a class="filelink" href="{{attach.host}}{{attach.attachment_path}}{{attach.orginial_name}}"  download>
                                                    <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>				  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="infomore-div" id="{{life.id}}life">
                    <div class="row" ng-repeat="ldata in lifeData[$index]" ng-if="$index >= 4">
                        <div ng-if="ldata.value != '' && ldata.fields.name != 'no-of-frequency' && ldata.fields.name != 'no-of-times'">
                            <div class="col"><strong>{{ldata.fields.field}} </strong></div>
                            <div class="col"> 
                                <div ng-if="ldata.fields.field == 'Related Problem'">
                                    <div ng-repeat="problem in problems">
                                        <div ng-if="problem.record_id == ldata.value">{{problem.value}}</div>
                                    </div>
                                </div>
                                <div ng-if="ldata.fields.field == 'Frequency'"> 
                                    <div ng-if="ldata.value == 'Repeat'">{{ldata.value}} in {{repeatNo[$index]}} {{repeatFreq[$index]}}</div>
                                    <div ng-if="ldata.value != 'Repeat'">{{ldata.value}}</div>
                                </div>
                                <div ng-if="ldata.fields.field_type == '8'"> {{ldata.value|dateFormat3}}</div>
                                <div ng-if="ldata.fields.field_type == '12'"> {{ldata.value|time1}}</div>
                                <div ng-if="ldata.fields.name != 'no-of-times' && ldata.fields.field != 'Frequency' && ldata.fields.field != 'Related Problem' && ldata.fields.field != 'Attachments' && ldata.fields.field_type != '12' && ldata.fields.field_type != '8'">
                                    <div> {{ldata.value}}</div>
                                </div>
                                <div ng-if="ldata.fields.field == 'Attachments'">
                                    <div > <div ng-repeat="attach in ldata.attachments" >
                                            <div ng-init="selData = (attach.orginial_name).split('.')">
                                                <div ng-if="selData[1] == 'png' || selData[1] == 'gif' || selData[1] == 'jpg' || selData[1] == 'PNG' || selData[1] == 'GIF' || selData[1] == 'JPG'">
                                                    <a  class="filelink" style="cursor: pointer;" ng-click="showRecAttach(attach.host, attach.attachment_path, attach.orginial_name)" >
                                                        <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                    </a>
                                                </div>
                                                <div ng-if="selData[1] != 'png' && selData[1] != 'gif' && selData[1] != 'jpg' && selData[1] != 'PNG' && selData[1] != 'GIF' && selData[1] != 'JPG'">
                                                    <a class="filelink" href="{{attach.host}}{{attach.attachment_path}}{{attach.orginial_name}}"  download>
                                                        <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>				  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

