<div class="tcontent" ng-controller="ReferralCtrl">
    <div class="mt15" ng-if="referral.length == 0"> <p class="txt-center" >No records here</p></div>
    <div class="list card post-item greenbox" ng-repeat="ref in referral" ng-if="referral.length > 0">
        <div class="card-content p0">
            <div class="row post-heading item item-text-wrap ">
                <div class="col col-75">
                    <h2 class="post-title">Referral {{$index + 1}}</h2>
                </div>
                <div class="col col-25 txt-right">
                    <div class="infomore" ng-click="infomore(ref.id + 'ref', 'ref')">
                        <span class="infb" id="{{ref.id}}refr"> More</span> <i class="ion-android-arrow-forward"></i>
                    </div>
                </div>
            </div>
            <div class="post-content item item-text-wrap p0">
                <div class="row" ng-repeat="rdata in refData[$index]| limitTo: 4">
                    <div ng-if="rdata.value != ''">
                        <div class="col"><strong>{{rdata.fields.field}} </strong></div>
                        <div class="col"> 
                            <div ng-if="rdata.fields.field == 'Related Problem'">
                                <div ng-repeat="problem in problems">
                                    <div ng-if="problem.record_id == rdata.value">{{problem.value}}</div>
                                </div>
                            </div>
                            <div ng-if="rdata.fields.field_type == '8'"> {{rdata.value|dateFormat3}}</div>
                            <div ng-if="rdata.fields.field_type == '12'"> {{rdata.value|time1}}</div>
                            <div ng-if="rdata.fields.field != 'Related Problem' && rdata.fields.field != 'Attachments' && rdata.fields.field_type != '12' && rdata.fields.field_type != '8'">
                                <div > {{rdata.value}}</div>
                            </div>
                            <div ng-if="rdata.fields.field == 'Attachments'">
                                <div > <div ng-repeat="attach in rdata.attachments" >
                                        <div ng-init="selData = (attach.orginial_name).split('.')">
                                            <div ng-if="selData[1] == 'png' || selData[1] == 'gif' || selData[1] == 'jpg' || selData[1] == 'PNG' || selData[1] == 'GIF' || selData[1] == 'JPG'">
                                                <a  class="filelink" style="cursor: pointer;" ng-click="showRecAttach(attach.host, attach.attachment_path, attach.orginial_name)" >
                                                    <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                </a>
                                            </div>
                                             <div ng-if="selData[1] != 'png' && selData[1] != 'gif' && selData[1] != 'jpg' && selData[1] != 'PNG' && selData[1] != 'GIF' && selData[1] != 'JPG'">
                                                        <a class="filelink" href="{{attach.host}}{{attach.attachment_path}}{{attach.orginial_name}}"  download>
                                                            <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                        </a>
                                                    </div>
                                        </div>
                                    </div>
                                </div>				  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="infomore-div" id="{{ref.id}}ref">
                    <div class="row" ng-repeat="rdata in refData[$index]" ng-if="$index >= 4">
                        <div ng-if="rdata.value != ''">
                            <div class="col"><strong>{{rdata.fields.field}} </strong></div>
                            <div class="col"> 
                                <div ng-if="rdata.fields.field == 'Related Problem'">
                                    <div ng-repeat="problem in problems">
                                        <div ng-if="problem.record_id == rdata.value">{{problem.value}}</div>
                                    </div>
                                </div>
                                <div ng-if="rdata.fields.field_type == '8'"> {{rdata.value|dateFormat3}}</div>
                                <div ng-if="rdata.fields.field_type == '12'"> {{rdata.value|time1}}</div>
                                <div ng-if="rdata.fields.field != 'Related Problem' && rdata.fields.field != 'Attachments' && rdata.fields.field_type != '12' && rdata.fields.field_type != '8'">
                                    <div > {{rdata.value}}</div>
                                </div>
                                <div ng-if="rdata.fields.field == 'Attachments'">
                                    <div > <div ng-repeat="attach in rdata.attachments" >
                                            <div ng-init="selData = (attach.orginial_name).split('.')">
                                                <div ng-if="selData[1] == 'png' || selData[1] == 'gif' || selData[1] == 'jpg' || selData[1] == 'PNG' || selData[1] == 'GIF' || selData[1] == 'JPG'">
                                                    <a  class="filelink" style="cursor: pointer;" ng-click="showRecAttach(attach.host, attach.attachment_path, attach.orginial_name)" >
                                                        <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                    </a>
                                                </div>
                                                 <div ng-if="selData[1] != 'png' && selData[1] != 'gif' && selData[1] != 'jpg' && selData[1] != 'PNG' && selData[1] != 'GIF' && selData[1] != 'JPG'">
                                                        <a class="filelink" href="{{attach.host}}{{attach.attachment_path}}{{attach.orginial_name}}"  download>
                                                            <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                        </a>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>				  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


