<ion-view class="category-feeds-view">
    <ion-nav-title>
       
        <span  ng-if="apkLanguage == 'english'">Content library Setting</span>
        <span  ng-if="apkLanguage != 'english'"> {{langtext.library[language]}} {{langtext.settings[language]}}</span>
         
    </ion-nav-title>
    <ion-content class="bgwhite">

        <form name="clsetting" id="clsetting" novalidate >
            <input type="hidden" name="patientId" ng-model="patientId" value="{{patientId}}">

        <div class="posts-list">
             
           <div class="item item-divider mt15">Category</div>
            <ion-list>
                <ion-checkbox ng-model="catchoice" ng-checked="cat.indexOf(cats.id) !== -1"  name="catchoice[]" ng-repeat="cats in category" ng-value="{{cats.id}}">{{cats.specialization}}</ion-checkbox>
            </ion-list>
            <div class="item item-divider mt15">Language</div>
            <ion-list>
                <ion-checkbox ng-model="langchoice"  ng-checked="lang.indexOf(langid.id) !== -1"  name="langchoice[]" ng-repeat="langid in languages" ng-value="{{langid.id}}">{{langid.language| capitalize}}</ion-checkbox>
            </ion-list>

        </div>
        
         <button type="submit" class="button button-full button-positive" ng-disabled="clsetting.$invalid" ng-click="submitSetting()">Submit</button>
        </form>
    </ion-content>
    
</ion-view>







