<ion-view class="category-list-view" >
  <ion-nav-title>
    <span>Packages List</span>
	</ion-nav-title>
  
  <ion-content>

  
  <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search Packages" ng-model="search">
            </label>
        </div>
  
  <div class="posts-list">
  <div class="list card post-item">
  <div class="post-content item item-text-wrap p0">
	<a ui-sref="#" class="card-content p0">
	<div class="item item-divider">Package Name
		<div class="cardprice">INR 450</div>
	</div>
	</a>
	<div class="cardcont">
	<p><strong>Duration : </strong> 3 months</p>
		<p><strong>Description : </strong>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
	<div class="item item-divider">Consultations</div>
	<div class="flexcont btnpd">
	<div class="innerdiv brdright">Video <span class="countconsult">3</span></div>
	<div class="innerdiv brdright">Clinic <span class="countconsult">3</span></div>
	<div class="innerdiv brdright">Home <span class="countconsult">3</span> </div>
	<div class="innerdiv">Chat  <span class="countconsult">6 Days</span></div>
	</div>
	<div class="cardcont">
	<div class="row p0">
	<div class="col col-33"><strong>Specialist</strong></div>
	<div class="col col-67"> 
	<ul>
	<li>Dr.ABC , </li>
	<li>Dr.Hitakshi</li>
	<li>Dr.ABC</li>
	</ul>
	</div>
	</div>
	</div>
	
	<a class="cardbtn btn-add txt-center" ui-sref="app.packaging-detail">Subscribe</a>
	</div>
	
 </div>
 
 
   <div class="list card post-item">
  <div class="post-content item item-text-wrap p0">
	<a ui-sref="#" class="card-content p0">
	<div class="item item-divider">Package Name
		<div class="cardprice">INR 350</div>
	</div>
	</a>
	<div class="cardcont">
	<p><strong>Duration : </strong> 3 months</p>
		<p><strong>Description : </strong>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
	<div class="item item-divider">Consultations</div>
	<div class="flexcont btnpd">
	<div class="innerdiv brdright">Video <span class="countconsult">3</span></div>
	<div class="innerdiv brdright">Clinic <span class="countconsult">3</span></div>
	<div class="innerdiv brdright">Home <span class="countconsult">3</span> </div>
	<div class="innerdiv">Chat  <span class="countconsult">6 Days</span></div>
	</div>
	<div class="cardcont">
	<div class="row p0">
	<div class="col col-33"><strong>Specialist</strong></div>
	<div class="col col-67"> 
	<ul>
	<li>Dr.ABC , </li>
	<li>Dr.Hitakshi</li>
	<li>Dr.ABC</li>
	</ul>
	
	</div>
	</div>
	</div>
	<a class="cardbtn btn-add txt-center" ui-sref="app.packaging-detail">Subscribe</a>
	</div>
	
 </div>
 
 
 
  </div>
  </ion-content>
   <div class="fixedbar">
    <div class="button btn-share" nav-clear ng-click="modal.hide()" ><i class="icon ion-funnel"></i> Filter</div>
    <div class="button btn-delete" ng-click="submitmodal()"><i class="icon ion-ion-refresh"></i> Sort</div>
    </div>
  </ion-view>