<ion-view cache-view="false"  class="records-view">
    <ion-nav-title>
        <span  ng-if="apkLanguage == 'english'">Choose Category</span>
         <span  ng-if="apkLanguage != 'english'">{{langtext.consultations[language]}}</span>
    </ion-nav-title>
    <!--<ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-person">
        </button>
    </ion-nav-buttons>-->
    <ion-content>
        <!--		<div class="row tabnav"  ng-if="apkLanguage == 'english'">
                        <div class="col"><a nav-clear menu-close ui-sref="app.consultations-list" class="active">Book</a></div>
                        <div class="col"><a nav-clear menu-close ui-sref="app.consultations-current" >Active</a></div>
                        <div class="col"><a nav-clear menu-close ui-sref="app.consultations-past">Past</a></div>
                        </div>
                
                <div class="row tabnav"  ng-if="apkLanguage != 'english'">
                        <div class="col"><a nav-clear menu-close ui-sref="app.consultations-list" class="active">{{langtext.book[language]}}</a></div>
                        <div class="col"><a nav-clear menu-close ui-sref="app.consultations-current" >{{langtext.active[language]}}</a></div>
                        <div class="col"><a nav-clear menu-close ui-sref="app.consultations-past">{{langtext.past[language]}}</a></div>
                        </div>-->
		 
	<div class="page-data">
	<div class="list miscellaneous-functionalities">
                            <a class="item  item-icon-right" ui-sref="app.consultation-cards({'id':spec.category_id, 'res' : 'json'})"  ng-repeat="spec in specializations| orderBy:'specialization' |filter : searchKeyword ">
                                <div>
                                    <span class="stitle">{{spec[language]}}</span>
                                    <!-- <p class=""><label ng-repeat="focus in spec.focuses">{{focus.focus}}, </label>{{spec.description}}</p>-->
                                </div>
                                <i class="icon ion-ios-arrow-right"></i>
                            </a>
	</div>
	</div>
    </ion-content>
</ion-view>

