<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>{{doctor[0].user_lang[language]}}</span>
    </ion-nav-title>
    <!--  <ion-nav-buttons side="right">
         <button class="button button-icon button-clear ion-person">
         </button>
     </ion-nav-buttons> -->

    <div ng-repeat="doc in doctor">
        <div class="profile-head">
            <div class="card-content">
                <!--  <div class="rating"><i class="ion-star active"></i> <i class="ion-star active"></i> <i class="ion-star active"></i> <i class="ion-star"></i> <i class="ion-star"></i></br>15 Reviews</div> -->
                <div class="card-left"><img class="user-image-circle" ng-if="doc.image != ''" ng-src="{{imgpath}}{{doc.image}}"><img class="user-image-circle" ng-if="doc.image == ''" ng-src="img/default-user.jpg"></div>
                <div class="card-detail txt-left">
                    <p><strong> {{doc.user_lang[language]}}</strong><br/>
                        <span ng-repeat="spec in doc.specializations">
                            {{doc.specializations[0][language]}}{{$last==true? '': ',&nbsp;'}}
                        </span></p>
                    <div class="button button-small button-outline button-positive viewmore" ng-click="modal.show()">More</div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
    <ion-content>
        <div class="ioncontent">
            <div ng-repeat="doc in doctor">
                <div class="whitetab profile" style="margin-top:120px;">
                    <div class="schedule" ng-if="service.length > 0">
                        <my-tabs class="themetabs">
                            <div ng-repeat="serv in service">  

                                <my-tab  icon="ion-ios-videocam tabicon" title="{{apkLanguage == 'english'? 'Video': video[language]}}"  ng-if="serv == 1">
                                    <my-tabs class="themetabs">
                                        <div ng-if="apkLanguage == 'english'">
                                            <my-tab icon="ion-calendar tabicon" title="Scheduled Video" >
                                                <div class="tabc2">
                                                    <div class="item-price">Price : INR {{videoProd.interfacePrice|ceil}}</div>
                                                    <div class="mt15"> 
                                                        <ul class="clist">
                                                            <li>{{videoProd.desc}}</li>
                                                            <li ng-repeat="vInc in videoInc track by $index">{{vInc.mode}}, {{vInc.desc}},
                                                                <span ng-if="vInc.discount < 100">Discount : {{vInc.discount}} %</span>, {{vInc.validity_in_days}} Days
                                                            </li>
                                                            <li ng-repeat="vf in videoFollow">
                                                                <span ng-if="vf.type == 'inclusion'">
                                                                    <span ng-if="vf.validity != 0">
                                                                        {{vf.mode==1? 'Video':vf.mode==2? 'Chat':vf.mode==3? 'Clinic':vf.mode==4? 'Home':''}} consult for {{vf.validity}} days
                                                                    </span>
                                                                </span>
                                                                <span ng-if="vf.type == 'discounts'">
                                                                    <span ng-if="vf.value != 0"> Discount Coupon of {{vf.value}}%</span> for {{vf.mode==1? 'Video':vf.mode==2? 'Chat':vf.mode==3? 'Clinic':vf.mode==4? 'Home':''}} Consult
                                                                    <span ng-if="vf.instance != 0"> (Valid for {{vf.instance}} use{{vf.instance>1? 's':''}}<span ng-if="vf.validity != 0"> within {{vf.validity}} days</span>)</span>
                                                                </span>
                                                            </li>
                                                        </ul>
                                                        <div class="clr"></div>
                                                        <div class="item item-body p0 brd-0" ng-repeat="vs in videoSch track by $index">
                                                            <ul class="wk">
                                                                <!-- <li ng-repeat="day in vs.service_details| orderBy:'' | groupBy:['day_of_week']">
                                                                     <strong ng-show="day.group_by_CHANGED">{{ day.day_of_week|limitTo:1}} : </strong>
                                                                     {{day.from|limitTo:2}} - {{day.to|limitTo:2}}
                                                                 </li> -->
                                                            </ul>
                                                            <div class="sche-date">
                                                                <div class="leftarrow" ng-click="getFirstSlots(vs.supersaas_id, $index, serv)">Earliest Slot</div> 
                                                                <input type="date" ng-model="schdate[$index]" value="schdate[$index]|dateFormat1" ng-change="getNextSlots(schdate[$index], vs.supersaas_id, $index, serv)"/>
                                                                <input type="hidden" ng-model="nextdate[$index]" value="nextdate[$index]|datetime"/>
                                                                <div class="rightarrow" ng-click="getNextSlots(nextdate, vs.supersaas_id, $index, serv)">Next Slot</div>
                                                            </div>
                                                            <div ng-if="schV[$index] == vs.supersaas_id">
                                                                {{vSch[$index]==''? 'No slots available':''}}
                                                                <ul class="timesheet"  ng-repeat="(key,slot) in vSch[$index] track by $index">
                                                                    <li onclick="toggleclass(this);" ng-repeat="slt in slot" ng-if="slt['sdate'] < nextdate[$parent.$parent.$index]" ng-model="timeslot" ng-click="bookSlot(slt['start'][0], slt['finish'][0], vs.supersaas_id, vs.id)"> 
                                                                        {{slt['start'][0]|time1}}
                                                                        <!--{{slt['finish'][0]|time}}   -->                    
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="section-footer">   
                                                            <a class="button button-full button-positive" ng-click="bookAppointment(videoProd.id, serv)">Proceed</a>
                                                        </div>	
                                                    </div>
                                                </div>
                                            </my-tab>
                                        </div>
                                        <div ng-if="apkLanguage != 'english'">
                                            <my-tab icon="ion-calendar tabicon" title="{{scheduled_video[language]}}" >
                                                <div class="tabc2">
                                                    <div class="item-price">Price : INR {{videoProd.interfacePrice|ceil}}</div>
                                                    <div class="mt15"> 
                                                        <ul class="clist">
                                                            <li>{{videoProd.desc}}</li>
                                                            <li ng-repeat="vInc in videoInc track by $index">{{vInc.mode}}, {{vInc.desc}},
                                                                <span ng-if="vInc.discount < 100">Discount : {{vInc.discount}} %</span>, {{vInc.validity_in_days}} Days
                                                            </li>
                                                            <li ng-repeat="vf in videoFollow">
                                                                <span ng-if="vf.type == 'inclusion'">
                                                                    <span ng-if="vf.validity != 0">
                                                                        {{vf.mode==1? 'Video':vf.mode==2? 'Chat':vf.mode==3? 'Clinic':vf.mode==4? 'Home':''}} consult for {{vf.validity}} Days
                                                                    </span>
                                                                </span>
                                                                <span ng-if="vf.type == 'discounts'">
                                                                    <span ng-if="vf.value != 0">Discount Coupon of {{vf.value}}%</span> for {{vf.mode==1? 'Video':vf.mode==2? 'Chat':vf.mode==3? 'Clinic':vf.mode==4? 'Home':''}} Consult
                                                                    <span ng-if="vf.instance != 0">(Valid for {{vf.instance}} use{{vf.instance>1? 's':''}}<span ng-if="vf.validity != 0"> within {{vf.validity}} Days</span>) </span>
                                                                </span>
                                                            </li>
                                                        </ul>
                                                        <div class="clr"></div>
                                                        <div class="item item-body p0 brd-0" ng-repeat="vs in videoSch track by $index">
                                                            <ul class="wk">
                                                                <!-- <li ng-repeat="day in vs.service_details| orderBy:'' | groupBy:['day_of_week']">
                                                                     <strong ng-show="day.group_by_CHANGED">{{ day.day_of_week|limitTo:1}} : </strong>
                                                                     {{day.from|limitTo:2}} - {{day.to|limitTo:2}}
                                                                 </li> -->
                                                            </ul>
                                                            <div class="sche-date">
                                                                <div class="leftarrow" ng-click="getFirstSlots(vs.supersaas_id, $index, serv)">{{earliest_slot[language]}}</div> 
                                                                <input type="date" ng-model="schdate[$index]" value="schdate[$index]|dateFormat1" ng-change="getNextSlots(schdate[$index], vs.supersaas_id, $index, serv)"/>
                                                                <input type="hidden" ng-model="nextdate[$index]" value="nextdate[$index]|datetime"/>
                                                                <div class="rightarrow" ng-click="getNextSlots(nextdate, vs.supersaas_id, $index, serv)">{{next_slot[language]}}</div>
                                                            </div>
                                                            <div ng-if="schV[$index] == vs.supersaas_id">
                                                                {{vSch[$index]==''? 'No slots available':''}}
                                                                <ul class="timesheet"  ng-repeat="(key,slot) in vSch[$index] track by $index">
                                                                    <li onclick="toggleclass(this);" ng-repeat="slt in slot" ng-if="slt['sdate'] < nextdate[$parent.$parent.$index]" ng-model="timeslot" ng-click="bookSlot(slt['start'][0], slt['finish'][0], vs.supersaas_id, vs.id)"> 
                                                                        {{slt['start'][0]|time1}}
                                                                        <!--{{slt['finish'][0]|time}}   -->                    
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="section-footer">   
                                                            <a class="button button-full button-positive" ng-click="bookAppointment(videoProd.id, serv)">{{procced[language]}}</a>
                                                        </div>	
                                                    </div>
                                                </div>
                                            </my-tab>
                                        </div>
                                        <div ng-if="apkLanguage == 'english'">
                                            <div ng-if="instVideo != ''">
                                                <my-tab title="Instant Video" icon="ion-ios-bolt tabicon" ng-click="doit();">
                                                    <div class="tabc2">
                                                        <div class="item-price">Price : INR {{instVideo.interfacePrice|ceil}}</div>
                                                        <div class="tabcontainer"> 
                                                            <p><b>How Instant Video Works</b></p>
                                                            <ul class="clist">
                                                                <li><strong>Instant video consult</strong></li>
                                                                <li>We check if your chosen specialist is available for an instant video consult</li>
                                                                <li>If yes, you have <b><u>10 minutes to book</u></b> the consult.</li>
                                                                <li>After booking consult, you will have a maximum of <b><u>10 minutes to join</u></b> the video consult.</li>
                                                            </ul>
                                                            <p>
                                                                <button class="button button-block button-positive" ng-click="checkAvailability(instVideo.user_id, instVideo.id)"> Proceed</button>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </my-tab>                                
                                            </div>
                                        </div>
                                        <div ng-if="apkLanguage != 'english'">
                                            <div ng-if="instVideo != ''">
                                                <my-tab title="{{instant_video[language]}}" icon="ion-ios-bolt tabicon" ng-click="doit();">
                                                    <div class="tabc2">
                                                        <div class="item-price">Price : INR {{instVideo.interfacePrice|ceil}}</div>
                                                        <div class="tabcontainer"> 
                                                            <p><b>How Instant Video Works</b></p>
                                                            <ul class="clist">
                                                                <li><strong>Instant video consult</strong></li>
                                                                <li>We check if your chosen specialist is available for an instant video consult</li>
                                                                <li>If yes, you have <b><u>10 minutes to book</u></b> the consult.</li>
                                                                <li>After booking consult, you will have a maximum of <b><u>10 minutes to join</u></b> the video consult.</li>
                                                            </ul>
                                                            <p>
                                                                <button class="button button-block button-positive" ng-click="checkAvailability(instVideo.user_id, instVideo.id)"> {{procced[language]}}</button>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </my-tab>                                
                                            </div>
                                        </div>
                                    </my-tabs>
                                </my-tab>
                                <my-tab  icon="ion-medkit tabicon" title="{{apkLanguage == 'english'? 'Clinic': clinic[language]}}"  ng-if="serv == 3">
                                    <my-tabs class="themetabs" ng-if="clinicProds.length > 1">
                                        <div ng-repeat="clinicP in clinicProds">
                                            <my-tab  icon="tabicon" title="{{clinicP.prod_service.alias}}" >
                                                <div class="tabc2">
                                                    <div class="item-price">Price : INR {{clinicP.interfacePrice|ceil}}</div>
                                                    <div class="tabcontainer"> 
                                                        <div class="mt15"> 
                                                            <ul class="clist">
                                                                <li>{{clinicP.desc}}</li>
                                                                <li ng-repeat="cInc in clinicInc track by $index">{{cInc.mode}}, {{cInc.desc}},
                                                                    <span ng-if="cInc.discount < 100">Discount : {{cInc.discount}} %</span>, {{cInc.validity_in_days}} Days
                                                                </li>
                                                                <li ng-repeat="cf in clinicFollow">
                                                                    <span ng-if="cf.type == 'inclusion'">
                                                                        <span ng-if="cf.validity != 0">
                                                                            {{cf.mode==1? 'Video':cf.mode==2? 'Chat':cf.mode==3? 'Clinic':cf.mode==4? 'Home':''}} consult for {{cf.validity}} Days
                                                                        </span>
                                                                    </span>
                                                                    <span ng-if="cf.type == 'discounts'">
                                                                        <span ng-if="cf.value != 0">, Discount Coupon of {{cf.value}}%</span> for {{cf.mode==1? 'Video':cf.mode==2? 'Chat':cf.mode==3? 'Clinic':cf.mode==4? 'Home':''}} Consult
                                                                        <span ng-if="cf.instance != 0">(Valid for {{cf.instance}} use{{vf.instance>1? 's':''}}<span ng-if="cf.validity != 0"> within {{cf.validity}} Days</span>) </span>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                            <div class="clr"></div>
                                                            <div class="item item-body p0 brd-0" ><!----ng-repeat="cs in clinicP.prod_service track by $index"--->
                                                                <!--<ul class="wk"> 
                                                                    <li ng-repeat="day in cs.service_details| orderBy:'' | groupBy:['day_of_week']">
                                                                        <strong ng-show="day.group_by_CHANGED">{{ day.day_of_week|limitTo:1}} : </strong>
                                                                        {{day.from|limitTo:2}} - {{day.to|limitTo:2}}
                                                                    </li>
                                                                </ul>-->
                                                                <strong>{{clinicP.prod_service.alias}}</strong><br/>
                                                                <div class="full addr hide" id = "{{clinicP.prod_service.id}}full">{{clinicP.prod_service.address}}</div>
                                                                <div class="short addr" id = "{{clinicP.prod_service.id}}short">{{clinicP.prod_service.address.substring(0, 30)}}</div>
                                                                <input type = "button" class ="toggle" id= {{clinicP.prod_service.id}} ng-click="toggleaddress({{clinicP.prod_service.id}})" value="...">

                                                                <div class="sche-date">
                                                                    <div class="leftarrow" ng-click="getFirstSlots(clinicP.prod_service.supersaas_id, $index, serv)">{{apkLanguage == 'english'? 'Earliest Slot' : earliest_slot[language]}}</div> 
                                                                    <input type="date" ng-model="schCdate[$index]" value="schCdate[$index]|dateFormat1" ng-change="getNextSlots(schCdate[$index], clinicP.prod_service.supersaas_id, $index, serv)"/>
                                                                    <input type="hidden" ng-model="nextCdate[$index]" value="nextCdate[$index]|datetime"/>
                                                                    <div class="rightarrow" ng-click="getNextSlots(nextCdate[$index], clinicP.prod_service.supersaas_id, $index, serv)">{{apkLanguage == 'english'? 'Next Slot': next_slot[language]}}</div>
                                                                </div>
                                                                <div ng-if="schC[$index] == clinicP.prod_service.supersaas_id">
                                                                    {{cSch[$index]==''? 'No slots available':''}}
                                                                    <ul class="timesheet"  ng-repeat="(key,slot) in cSch[$index] track by $index">
                                                                        <li onclick="toggleclass(this);" ng-repeat="slt in slot" ng-if="slt['sdate'] < nextCdate[$parent.$parent.$index]" ng-model="timeslot" ng-click="bookSlot(slt['start'][0], slt['finish'][0], clinicP.prod_service.supersaas_id, clinicP.prod_service.id)"> 
                                                                            {{slt['start'][0]|time1}}
                                                                            <!--{{slt['finish'][0]|time}}   -->                    
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="section-footer">   
                                                            <a class="button button-full button-positive" ng-click="bookAppointment(clinicP.id, serv)">{{procced[language]}} </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </my-tab>
                                        </div>
                                    </my-tabs>
                                    <div class="tabc2" ng-repeat="clinicP in clinicProds" ng-if="clinicProds.length == 1">
                                        <div class="item-price">Price : INR {{clinicP.interfacePrice|ceil}}</div>
                                        <div class="mt15"> 
                                            <ul class="clist">
                                                <li>{{clinicP.desc}}</li>
                                                <li ng-repeat="cInc in clinicInc track by $index">{{cInc.mode}}, {{cInc.desc}},
                                                    <span ng-if="cInc.discount < 100">Discount : {{cInc.discount}} %</span>, {{cInc.validity_in_days}} Days
                                                </li>
                                                <li ng-repeat="cf in clinicFollow">
                                                    <span ng-if="cf.type == 'inclusion'">
                                                        <span ng-if="cf.validity != 0">
                                                            {{cf.mode==1? 'Video':cf.mode==2? 'Chat':cf.mode==3? 'Clinic':cf.mode==4? 'Home':''}} consult for {{cf.validity}} Days
                                                        </span>
                                                    </span>
                                                    <span ng-if="cf.type == 'discounts'">
                                                        <span ng-if="cf.value != 0">, Discount Coupon of {{cf.value}}%</span> for {{cf.mode==1? 'Video':cf.mode==2? 'Chat':cf.mode==3? 'Clinic':cf.mode==4? 'Home':''}} Consult
                                                        <span ng-if="cf.instance != 0">(Valid for {{cf.instance}} use{{vf.instance>1? 's':''}}<span ng-if="cf.validity != 0"> within {{cf.validity}} Days</span>) </span>
                                                    </span>
                                                </li>
                                            </ul>
                                            <div class="clr"></div>
                                            <div class="item item-body p0 brd-0" ><!----ng-repeat="cs in clinicP.prod_service track by $index"--->
                                                <!--<ul class="wk"> 
                                                    <li ng-repeat="day in cs.service_details| orderBy:'' | groupBy:['day_of_week']">
                                                        <strong ng-show="day.group_by_CHANGED">{{ day.day_of_week|limitTo:1}} : </strong>
                                                        {{day.from|limitTo:2}} - {{day.to|limitTo:2}}
                                                    </li>
                                                </ul>-->
                                                <strong>{{clinicP.prod_service.alias}}</strong><br/>
                                                <div class="full addr hide" id = "{{clinicP.prod_service.id}}full">{{clinicP.prod_service.address}}</div>
                                                <div class="short addr" id = "{{clinicP.prod_service.id}}short">{{clinicP.prod_service.address.substring(0, 30)}}</div>
                                                <input type = "button" class ="toggle" id= {{clinicP.prod_service.id}} ng-click="toggleaddress({{clinicP.prod_service.id}})" value="...">

                                                <div class="sche-date">
                                                    <div class="leftarrow" ng-click="getFirstSlots(clinicP.prod_service.supersaas_id, $index, serv)">{{apkLanguage == 'english'? 'Earliest Slot' : earliest_slot[language]}}</div> 
                                                    <input type="date" ng-model="schCdate[$index]" value="schCdate[$index]|dateFormat1" ng-change="getNextSlots(schCdate[$index], clinicP.prod_service.supersaas_id, $index, serv)"/>
                                                    <input type="hidden" ng-model="nextCdate[$index]" value="nextCdate[$index]|datetime"/>
                                                    <div class="rightarrow" ng-click="getNextSlots(nextCdate[$index], clinicP.prod_service.supersaas_id, $index, serv)">{{apkLanguage == 'english'? 'Next Slot': next_slot[language]}}</div>
                                                </div>
                                                <div ng-if="schC[$index] == clinicP.prod_service.supersaas_id">
                                                    {{cSch[$index]==''? 'No slots available':''}}
                                                    <ul class="timesheet"  ng-repeat="(key,slot) in cSch[$index] track by $index">
                                                        <li onclick="toggleclass(this);" ng-repeat="slt in slot" ng-if="slt['sdate'] < nextCdate[$parent.$parent.$index]" ng-model="timeslot" ng-click="bookSlot(slt['start'][0], slt['finish'][0], clinicP.prod_service.supersaas_id, clinicP.prod_service.id)"> 
                                                            {{slt['start'][0]|time1}}
                                                            <!--{{slt['finish'][0]|time}}   -->                    
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-footer">   
                                            <a class="button button-full button-positive" ng-click="bookAppointment(clinicP.id, serv)">{{procced[language]}} </a>
                                        </div>	
                                    </div>

                                </my-tab>
                                <my-tab  icon="ion-chatboxes tabicon" title="{{apkLanguage == 'english'? 'Chat': chat[language]}}" ng-if="serv == 2">
                                    <div class="tabc2">
                                        <div class="item-price">Price : INR {{chatProd.interfacePrice|ceil}}</div>
                                        <div class="tabcontainer"> 
                                            <ul class="clist">
                                                <li><strong>{{chatProd.desc}}</strong></li>
                                                <li ng-repeat="cf in chatFollow">
                                                    <span ng-if="cf.type == 'inclusion'">
                                                        <span ng-if="cf.validity != 0">
                                                            {{cf.mode==1? 'Video':cf.mode==2? 'Chat':cf.mode==3? 'Clinic':cf.mode==4? 'Home':''}} consult for {{cf.validity}} Days
                                                        </span>
                                                    </span>
                                                    <span ng-if="cf.type == 'discounts'"><span ng-if="cf.value != 0">, Discount Coupon of {{cf.value}}%</span> for {{cf.mode==1? 'Video':cf.mode==2? 'Chat':cf.mode==3? 'Clinic':cf.mode==4? 'Home':''}} Consult
                                                        <span ng-if="cf.instance != 0"> (Valid for {{cf.instance}} use{{vf.instance>1? 's':''}}<span ng-if="cf.validity != 0"> within {{cf.validity}} Days</span>) </span>
                                                    </span>
                                                </li>
                                            </ul>
                                            <p>
                                                <button class="button button-block button-positive" ng-click="bookChatAppointment(chatProd.id, serv, cs.id)"> {{procced[language]}}</button>
                                            </p>
                                        </div>
                                    </div>
                                </my-tab>
                            </div>
                        </my-tabs>
                    </div>
                    <div class="schedule" ng-if="service.length == 0">
                        <p class="txt-center">The services of this specialist are currently not available</p>                            
                    </div>
                </div>
            </div>
        </div>
    </ion-content>


    <script id="viewmoreprofile.html" type="text/ng-template">
        <ion-modal-view>
        <div class="profile-head detailhead" ng-repeat="doc in doctor">
        <div class="card-content">
        <div class="card-left"><img class="user-image-circle" ng-if="doc.image != ''" ng-src="{{imgpath}}{{doc.image}}"><img class="user-image-circle" ng-if="doc.image == ''" ng-src="img/default-user.jpg"></div>
        <div class="card-detail txt-left">
        <p><strong> {{doc.fname}} {{doc.lname}}</strong><br/>
        <span ng-repeat="spec in doc.specializations">
        {{spec.specialization}}{{$last==true? '': ',&nbsp;'}}
        </span></p>
        <div class="button button-small button-outline button-assertive viewmore" ng-click="modal.hide()">Close</div>
        </div>
        <div class="clr"></div>
        </div>
        </div>
        <ion-content>

        <div class="list" ng-repeat="doc in doctor" style="margin-top:100px;">
        <div class="item item-body">

        <div class="row txt-left">
        <div class="col"><p><strong>Experience</strong><br/>{{doc.exp}}</p></div>	
        <div class="col"><p><strong>Qualification</strong><br/>
        <span ng-repeat="qual in doc.qualifications">{{qual.qualification}}{{$last==true? '': ',&nbsp;'}}</span>
        </p></div>	
        </div>
        <div class="row txt-left">
        <div class="col"><p><strong>Languages</strong><br/>
        <span ng-repeat="lang in doc.languages">
        {{lang.language | capitalize}}{{$last==true? '': ',&nbsp;'}}
        </span></p></div>	
        <div class="col"><p><strong>Focus Area</strong><br/>
        <span ng-repeat="focus in doc.focuses">
        {{focus.focus}}{{$last==true? '': ',&nbsp;'}}
        </span></p></div>	
        </div>
        </div>


        </div>

        </ion-content>
        </ion-modal-view> 
    </script>

</ion-view>