<ion-view class="category-detail-view">
    <ion-nav-title>

        <span  ng-if="apkLanguage == 'english'">Records</span>
        <span  ng-if="apkLanguage != 'english'">{{langtext.records[language]}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <!--  <button class="button button-icon button-clear ion-android-search " ng-click="showFilterBar()">
         </button>  -->
    </ion-nav-buttons>

    <!-- 
        <div class="bar bar-subheader cbar divider-2">
            <div class="row">
                <div class="col-50"><a  ui-sref="#"><h4 class="subhead"><i class="icon ion-funnel"></i> Filter</h4></a></div>
                <div class="col-50"><h4 class="subhead">Sort <i class="icon ion-ios-arrow-thin-down"></i></h4> </div>
            </div>
        </div> -->

    <ion-content>
        <div class="row tabnav" ng-if="apkLanguage == 'english'">
            <div class="col"><a  ui-sref="app.category-detail" class="active" >Created by you</a></div>
            <div class="col"><a  ui-sref="app.shared-with-you">Shared with you</a></div>
        </div>
        <div class="row tabnav" ng-if="apkLanguage != 'english'">
            <div class="col"><a  ui-sref="app.category-detail" class="active" >{{langtext.created_by_you[language]}}</a></div>
            <div class="col"><a  ui-sref="app.shared-with-you">{{langtext.shared_with_you[language]}}</a></div>


        </div>
        <div class="list cdetail-list">
            <div class="mt5 pt50p" ng-if="userRecords.length == 0"> <p class="txt-center" >No records here. Add now to get started.</p></div>
            <div class="crecordlist" ng-repeat="cat in userRecords| orderBy: 'category'">
                <div class="clistck">
                    <ion-checkbox ng-model="catId[cat.id]" ng-value="{{cat.id}}" ng-change="getIds('{{cat.id}}')" class="chkcat">Checkbox Label</ion-checkbox>
                    <!--<input type="checkbox" class="chkcat" id="{{cat.id}}" value="{{cat.id}}" ng-change="getIds('{{cat.id}}')" />-->
                </div>
                <a  class="item item-icon-left item-icon-right " ui-sref="app.records-view({'id' : cat.id, 'shared': 0, 'res' : 'json'})">
                    <span class="title">{{cat.category}}</span>	
                    <span class="count">{{cat.count}}</span>	
                </a>

            </div>
        </div>  
        <!-- 	<div class="list cdetail-list">
                       <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
               
                       <ion-item ng-repeat="cat in userRecords | orderBy:'-count'" 
                                 item="item" ui-sref="app.records-view({'id' : cat.id,'res' : 'json'})"  class="item-remove-animate">
                         {{cat.category}}
                         <ion-delete-button  ng-click="onItemDelete(item)">
                                                                        <input type="checkbox" class="listck" />
                         </ion-delete-button>
                         
                       </ion-item>
               
                     </ion-list>
                       
                       </div> -->
    </ion-content>

    <script id="addrecord.html" type="text/ng-template">
        <div class="modal">
        <header class="bar bar-header bar-positive">

        <h1 class="title"  ng-if="apkLanguage == 'english'">Select Category</h1>
        <h1 class="title"  ng-if="apkLanguage != 'english'">{{langtext.select_category[language]}}</h1>
        </header>
        <content has-header="true" padding="true" class="fullwh" style="position: absolute; height: 100%;
        width: 100%;
        overflow: auto;">
        <div class="mcontent">
        <div class="list" >
        <div class="item f17bold" ng-repeat="cat in cats"  ng-click="addRecord({{cat.id}})"  >{{cat.category}}</div>
        </div>
        </div>
        </content>
        </div>
        <div class="bar bar-footer p0" style="z-index:999;" ng-if="apkLanguage == 'english'">
        <div class="button bar btn-delete brdradious0" style="width:100%;" ng-click="modal.hide()">
        Cancel</div>
        </div>
        <div class="bar bar-footer p0" style="z-index:999;" ng-if="apkLanguage != 'english'">
        <div class="button bar btn-delete brdradious0" style="width:100%;" ng-click="modal.hide()">
        {{langtext.cancel[language]}}</div>
        </div>

    </script>
    <div class="footerbar" ng-if="apkLanguage == 'english'">
        <a class="button btn-delete" ng-click="delete()" ><i class="icon ion-trash-b"></i> Delete</a>
        <a class="button btn-share" ng-click="modal.show()"><i class="icon ion-android-share-alt" ></i> Share</a>
        <!-- <a class="button" ng-controller="AdsCtrl" ng-click="manageAdMob()" ><i class="icon ion-android-add-circle"></i> Add</a> -->
        <a class="button btn-add" ng-controller="AdsCtrl" ng-click="getCategory()" ><i class="icon ion-android-add-circle"></i> Add</a>
    </div>

    <div class="footerbar" ng-if="apkLanguage != 'english'">
        <a class="button btn-delete" ng-click="delete()" ><i class="icon ion-trash-b"></i> {{langtext.cancel[language]}}</a>
        <a class="button btn-share" ng-click="modal.show()"><i class="icon ion-android-share-alt" ></i> {{langtext.share[language]}}</a>
        <!-- <a class="button" ng-controller="AdsCtrl" ng-click="manageAdMob()" ><i class="icon ion-android-add-circle"></i> Add</a> -->
        <a class="button btn-add" ng-controller="AdsCtrl" ng-click="getCategory()" ><i class="icon ion-android-add-circle"></i> {{langtext.add[language]}}</a>
    </div>
</ion-view>
<script id="share" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">

    <h1 class="title" ng-if="apkLanguage == 'english'">Share</h1>
    <h1 class="title"  ng-if="apkLanguage != 'english'">{{langtext.share[language]}}</h1>
    </ion-header-bar>
    <ion-content>
    <ion-list class="sharelist">
    <ion-radio ng-repeat="doc in doctrs" ng-model="docShare[doc.id]" ng-change="getDocId('{{doc.id}}')" ng-value="{{doc.id}}" >{{doc.fname}}<br/><span class="f13" ng-repeat="spec in doc.specializations">{{spec.specialization}}{{$last==true? '': ',&nbsp;'}}</span></ion-radio>
    </ion-list>
    </ion-content>
    <div class="fixedbar" ng-if="apkLanguage == 'english'" >
    <div class="button btn-delete" ng-click="modal.hide()"><i class="icon ion-close"></i> Cancel</div>
    <div class="button btn-share" ng-click="share()" ><i class="icon ion-android-share-alt" ></i> Share</div>
    </div>

    <div class="fixedbar" ng-if="apkLanguage != 'english'">
    <div class="button btn-delete" ng-click="modal.hide()"><i class="icon ion-close"></i> {{langtext.cancel[language]}}</div>
    <div class="button btn-share" ng-click="share()" ><i class="icon ion-android-share-alt" ></i> {{langtext.share[language]}}</div>
    </div>
    </ion-modal-view>
</script>


