<ion-view class="forgot-password-view auth-view" cache-view="false">
    <ion-content scroll="false" style="background:#f1f1f1;">
        <div class="row">
            <div class="col col-center">

                <div class="card forgot-password-container">
                    <form name="change_password" id="change_password" >
                        <div class="item item-body">
                            <label class="item item-input">
                                <input class="form-control" name="oldpassword"  type="password" placeholder="Old Password" required="required" ng-model="oldpassword"  ng-minlength="6"/>
                                <div ng-show="change_password.oldpassword.$error.minlength" class="serror">Password is too short.</div>
                            </label>

                        </div>
                        <div class="item item-body">
                            <label class="item item-input">
                                <input class="form-control" name="password"  type="password" placeholder="New Password" required="required" ng-model="password"  ng-minlength="6"/>
                                <div ng-show="change_password.password.$error.minlength" class="serror">Password is too short.</div>
                            </label>

                        </div>
                         <div class="item item-body">
                            <label class="item item-input">
                                <input class="form-control" name="cpassword"  type="password" placeholder="Confirm Password" required="required" ng-model="cpassword"  ng-minlength="6" change-password-c="{{password === cpassword}}"/>
                                <div ng-show="change_password.cpassword.$error.noMatch1" class="serror">Passwords do not match.</div>
                                <div ng-show="change_password.cpassword.$error.minlength" class="serror">Password is too short.</div>
                            </label>

                        </div>
                        <div class="item item-body bottom-content">
                            <button type="submit" class="button button-positive button-block" ng-click="doChangepassword()" ng-disabled="change_password.$invalid">
                               Submit
                            </button>
                          
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
