<ion-view class="records-view">
    <ion-nav-title>
       <span  ng-if="apkLanguage == 'english'">Thank You</span>
        <span  ng-if="apkLanguage != 'english'">{{tabmenu.thankyou[language]}}</span>
    </ion-nav-title>
    <!--     <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-person">
            </button>
        </ion-nav-buttons> -->
    <ion-content>
        <div class="list">           
            <div class="posts-list">
                <div  class="list card post-item">
                    <div class="post-content item item-text-wrap p0">
                        <div class="p15"  ng-if="data == 'success'">
                            <br/>
                            Thank you for booking chat with us. <br/>
                            Now you can start your chat from chats section.     
                            <br/>
                            <br/>
                            <br/>
                            <a ui-sref="app.chatlist" class="button bar bar-positive" ng-if="apkLanguage == 'english'">Start chat now</a>
                            <a ui-sref="app.chatlist" class="button bar bar-positive" ng-if="apkLanguage != 'english'">{{tabmenu.startchat[language]}}</a>
                            <div ng-click="gotoshare()" class="button bar bar-positive" >Share Records with the Doctor</div>

                            <div class="clr"></div>
                        </div>
                        <div class="p15" ng-if="data == 'fail'">
                            Appointment is not booked due to some issues!   
                            <br/>
                            <br/>
                            <br/>
                             <a ui-sref="app.chatlist" class="button bar bar-positive" ng-if="apkLanguage == 'english'">Start chat now</a>
                             <a ui-sref="app.chatlist" class="button bar bar-positive" ng-if="apkLanguage != 'english'">{{tabmenu.startchat[language]}}</a>

                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>