<ion-view class="add-category-view">
    <ion-nav-title>
        <span>Add Record</span>
    </ion-nav-title>
    <ion-content>
        <ul class="list mtop40 addform">
            <div class="item item-divider">Category</div>
            <form ng-submit="submit()" name="recordAdd" id="addrecords" enctype="multipart/form-data" >
                <input type="hidden" ng-model="record.recordUser" value="{{userId}}" name="userId" />
                <div ng-repeat="field in fields" ng-bind-html="field"></div>
                <button  class="button button-small button-block button-assertive">
                    Submit
                </button>
            </form>
        </ul>
    </ion-content>
</ion-view>
