<ion-view class="payment-view">
    <ion-nav-title>
        <span>Payment Failure</span>
    </ion-nav-title>
    <ion-content>
        <div class="content-section">
            
            <div class="list card">
                
                <div class="item item-body allp" ng-repeat="doc in doctor">
                    <p><h3>Sorry, payment failed.</h3></p>
                    <p><strong>Dr. {{doc.fname}} {{doc.lname}}</strong><br/>
                        <span ng-repeat="spec in doc.specializations">
                            {{spec.specialization}},   
                        </span>
                    </p>
                    <!--<p><strong>Qualification</strong><br/>MBBS,MD</p>-->
                    <ul class="clist">
                        <li ng-repeat="pro in product">{{pro.desc}},{{pro.mode}} </li>
                        <li ng-repeat="pInc in  prod_inclusion track by $index">{{pInc.mode}}, {{pInc.desc}},
                            <span ng-if="pInc.discount < 100">Discount : {{pInc.discount}} %</span>, {{pInc.validity_in_days}} Days
                        </li>
                    </ul>
                    
                </div>
            </div>
            <h4 class="txt-centre">Price: INR {{product[0].price}}</h4>
           
            <!---<div class="ctab commontab">
                <div class="success-btns">
                    <a ui-sref="#" class="button  button-positive">Share Records</a>
                    <br/>
                    <br/>
                    <a ui-sref="#" class="button  button-positive">Join Now</a>
                </div>
            </div> --->
        </div>
    </ion-content>
</ion-view>