<ion-view class="rjoin-view">
    <ion-nav-title>
        <span>Dr. {{user[0].fname}} {{user[0].lname}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-call"> Leave</button>
    </ion-nav-buttons>

    <div class="bar bar-subheader cbar">
        <div class="row">
            <div class="col-80 txt-centre"><h5><a  ui-sref="#">Chat</a></h5></div>
        </div>
    </div>
    <ion-content>
        <div class="fltr-mesg"> &nbsp;</div>
        <div class="mediascreen" >
            <!--<iframe class="videochat" ng-src="{{trustSrc(oToken)}}" ></iframe>-->
            <div id='subscribersDiv' style="position:absolute;top: 0;">
                <ul>
                    <li ng-repeat="msg in msgs|orderBy:'created_at':reverse">
                        {{msg.from_id==userId? 'Me': user[0].fname}} : {{msg.msg}}</li>

                </ul>

                </ul>
            </div> 
            <div id='chatbox'><input type='text' name='msg' /><button ng-click="send()">Send</button></div>
        </div>
        <div class="ctab commontab mt0">
            <ion-tabs class="tabs-positive tabs-icon-top">
                <ion-tab title="Records" >
                    <div class="tabcontainer">
                        <p class="txt-centre">2 Records Shared by you</p>
                        <p class="txt-centre">3 Records Created by Doctor</p>

                        <p class="txt-centre">
                            <button class="button button-positive" style="margin-right:10px;"><i class="ion-ios-compose fw"></i> View</button>	
                            <button class="button button-positive"><i class="ion-android-add fw"></i> Create</button>	
                        </p>
                    </div>
                </ion-tab>
                <ion-tab title="Appointments">
                    <div class="tabcontainer">
                        <p>Under Construction</p>
                    </div>
                </ion-tab>
            </ion-tabs>
        </div>  
    </ion-content>
    <div class="sticyfooter">
        <div class="more-nav">
            <ul>
                <li><a href="#">Record</a></li>	
                <li><a href="#">Share Screen</a></li>	
            </ul>
        </div>
    </div>
</ion-view>