<ion-view class="rjoin-view">
    <ion-nav-title>
        <span>{{otherUser.user_lang[language]}} </span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button ng-if="chatActive == 1" class="button button-positive w100p brdradious0" ng-click="getchatsharedata()"> 
            <strong>Recording</strong> </button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <section id="pchat">
            <section class="ot-textchat">
                <div class="chatscroll">
                    <div class="ot-bubbles">
                    </div> 
                </div>
            </section>
        </section>
        <section class="hide" id="connected-as" style="position: absolute; top: 500px; width: 100px;"> </section>
        <div class="clr"></div>
    </ion-content>
</ion-view>
