<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content class="post-size-14px">
        <ion-nav-bar class="bar app-top-bar">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
        <ion-content>
            <ion-list>
                <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
                  <div class="user-image-container">
                        <pre-img ratio="_1_1" helper-class="rounded-image">
                            <img class="user-image" ng-src="img/applogo.jpg" spinner-on-load>
                        </pre-img>
                    </div> 
                    
                    <h2 class="greeting" ng-if="userLogged == 1">Hi {{username}} </h2>
                    <h2 class="greeting" ng-if="userLogged == 0"></h2>
                    <p class="message" ng-if="apkLanguage == 'english'">Welcome </p>
                    <p class="message" ng-if="apkLanguage != 'english'">{{menutext.welcome[language]}}  </p>
                </ion-item>








                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.category-list">
                    <i class="icon ion-android-home"></i>
                    <h2 class="menu-text" ng-if="apkLanguage == 'english'">Home</h2>
                    <h2 class="menu-text" ng-if="apkLanguage != 'english'">{{menutext.home[language]}}</h2>
                </ion-item>
                <ion-item class="item-icon-left logoutbtn" ng-repeat="menu in menuItem" nav-clear menu-close ng-if="menu.intereface_menu.menu == 'consultations'" ng-click="{{menu.url}}">
                    <i class="icon ion-android-person"></i>
                    <h2 class="menu-text" ng-if="apkLanguage == 'english'">Book Now</h2>
                    <h2 class="menu-text" ng-if="apkLanguage != 'english'" ng-init="item = menu.intereface_menu.menu">{{menutext['book'][language]}}</h2>
                </ion-item>              
                <ion-item class="item-icon-left logoutbtn" ng-if="userLogged == 0" nav-clear menu-close ng-click="checkRedirect('app.consultations-current')" >
                    <i class ="icon ion-ios-time"></i>
                    <h2 class="menu-text" ng-if="apkLanguage == 'english'">Your Appointments</h2>
                    <h2 class="menu-text" ng-if="apkLanguage != 'english'">{{menutext.appointment[language]}}</h2>                        
                </ion-item>                

                <ion-item class="item-icon-left logoutbtn" nav-clear menu-close ui-sref="app.consultations-current" ng-if="userLogged == 1">
                    <i class="icon ion-ios-time"></i>
                    <h2 class="menu-text" ng-if="apkLanguage == 'english'">Your Appointments</h2>
                    <h2 class="menu-text" ng-if="apkLanguage != 'english'">{{menutext.appointment[language]}}</h2>
                </ion-item>

                <div class="item-bgnone" ng-if="userLogged == 0">
                    <ion-item class="item-icon-left logoutbtn" ng-repeat="menu in menuItem" nav-clear menu-close ng-if="menu.intereface_menu.menu != 'consultations'" ng-click="checkRedirect(menu.url)" >
                        <i class="icon {{menu.intereface_menu.menu=='settings'? 'ion-gear-a':menu.intereface_menu.menu=='records'? 'ion-folder': menu.intereface_menu.menu=='your chats'? 'ion-chatboxes':menu.intereface_menu.menu=='packages'? 'ion-cube':menu.intereface_menu.menu=='library'? 'ion-ios-book':menu.intereface_menu.menu=='pathology'? 'ion-erlenmeyer-flask':menu.intereface_menu.menu=='medicines'? 'ion-medkit':menu.intereface_menu.menu=='reminder'? 'ion-cube':'ion-cube'}}"></i>
                        <h2 class="menu-text" ng-if="apkLanguage == 'english'">{{menu.intereface_menu.menu|capitalizeEach}}</h2>
                        <h2 class="menu-text" ng-init="item = menu.intereface_menu.menu" ng-if="apkLanguage != 'english'">{{menutext[item][language]}}</h2>
                    </ion-item>
                </div>
                <div class="clr"></div>
                <div class="item-bgnone" ng-if="userLogged == 1">
                    <ion-item class="item-icon-left logoutbtn" ng-repeat="menu in menuItem" nav-clear menu-close ng-if="menu.intereface_menu.menu != 'consultations'" ui-sref="{{menu.url}}" >
                        <i class="icon {{menu.intereface_menu.menu=='settings'? 'ion-gear-a':menu.intereface_menu.menu=='records'? 'ion-folder': menu.intereface_menu.menu=='your chats'? 'ion-chatboxes':menu.intereface_menu.menu=='packages'? 'ion-cube':menu.intereface_menu.menu=='library'? 'ion-ios-book':menu.intereface_menu.menu=='pathology'? 'ion-erlenmeyer-flask':menu.intereface_menu.menu=='medicines'? 'ion-medkit':menu.intereface_menu.menu=='reminder'? 'ion-cube':'ion-cube'}}"></i>
                        <h2 class="menu-text" ng-if="apkLanguage == 'english'">{{menu.intereface_menu.menu|capitalizeEach}}</h2>
                        <h2 class="menu-text" ng-init="item = menu.intereface_menu.menu" ng-if="apkLanguage != 'english'">{{menutext[item][language]}}</h2>
                    </ion-item>
                </div>



                <ion-item class="item-icon-left logoutbtn" nav-clear menu-close ng-if="userLogged == '1'" ng-click="logout()" >
                    <i class="icon ion-android-unlock"></i>
                    <h2 class="menu-text" ng-if="apkLanguage == 'english'">Logout</h2>
                    <h2 class="menu-text" ng-if="apkLanguage != 'english'">{{menutext.logout[language]}}</h2>
                </ion-item>
                <ion-item class="item-icon-left logoutbtn" nav-clear menu-close ng-if="userLogged == '0'" ng-click="checkRedirect('app.category-list')">
                    <i class="icon ion-android-unlock"></i>
                    <h2 class="menu-text" ng-if="apkLanguage == 'english'">Login</h2>
                    <h2 class="menu-text" ng-if="apkLanguage != 'english'">{{menutext.login[language]}}</h2>
                </ion-item>

            <!--     <ion-item class="item-icon-left" nav-clear menu-close ui-sref="auth.forgot-password">
                    <i class="icon ion-medkit"></i>
                    <h2 class="menu-text">Forget passwrokd</h2>
                   
                </ion-item>  -->




                <!--<ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.medicine">
                    <i class="icon ion-medkit"></i>
                    <h2 class="menu-text" ng-if="apkLanguage == 'english'">Medicines</h2>
                    <h2 class="menu-text" ng-if="apkLanguage != 'english'">{{menutext.medicines[language]}}</h2>
                </ion-item> 

                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.pathology">
                    <i class="icon ion-erlenmeyer-flask"></i>
                    <h2 class="menu-text" ng-if="apkLanguage == 'english'">Pathology</h2>
                    <h2 class="menu-text" ng-if="apkLanguage != 'english'">{{menutext.pathology[language]}}</h2>
                </ion-item>-->
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>