<ion-view class="records-view">
    <ion-nav-title>
        <span  ng-if="apkLanguage == 'english'">Thank You</span>
        <span  ng-if="apkLanguage != 'english'">{{tabmenu.thankyou[language]}}</span>
    </ion-nav-title>
    <!--     <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-person">
            </button>
        </ion-nav-buttons> -->
    <ion-content>
        <div class="list">           
            <div class="posts-list">
                <div  class="list card post-item">
                    <div class="post-content item item-text-wrap p0">
                        <div class="p15"  ng-if="data == '1'">
                            <br/>
                            Thank you for booking with us. <br/>
                            Now you can view your appointments in Consultations section.     
                            <br/>
                            <br/>
                            <br/>
                            <div ng-click="gotohome()" class="button bar bar-positive" ng-if="apkLanguage == 'english'">Back to Consultations</div>
                            <div ng-click="gotohome()" class="button bar bar-positive" ng-if="apkLanguage != 'english'">{{tabmenu.backto[language]}}</div>
                            <div ng-click="gotoshare()" class="button bar bar-positive" >Share Records with the Doctor</div>
                            <div class="clr"></div>
                        </div>
                        <div class="p15" ng-if="data == '2'">
                            Thank you for booking with us. Your consult is waiting for approval.<br/>
                            Now you can view your appointments in Consultations section.
                            <br/>
                            <br/>
                            <br/>
                            <div ng-click="gotohome()" class="button bar bar-positive" ng-if="apkLanguage == 'english'">Back to Consultations</div>
                            <div ng-click="gotohome()" class="button bar bar-positive" ng-if="apkLanguage != 'english'">{{tabmenu.backto[language]}}</div>
                            <div ng-click="gotoshare()" class="button bar bar-positive" >Share Records with the Doctor</div>
                            <div class="clr"></div>
                        </div>
                        <div class="p15" ng-if="data == '0'">
                            Appointment is not booked due to some issues!   
                            <br/>
                            <br/>
                            <br/>
                            <div ng-click="gotohome()" class="button bar bar-positive" ng-if="apkLanguage == 'english'">Back to Consultations</div>
                            <div ng-click="gotohome()" class="button bar bar-positive" ng-if="apkLanguage != 'english'">{{tabmenu.backto[language]}}</div>

                            <div class="clr"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>