<ion-view class="category-feeds-view">
    <ion-nav-title>
        <span>Record</span>
    </ion-nav-title>
    <div class="row tabnav headtab">
        <div class="col"><span class="nbtn active"  rel="tabone"  >1. Record Video</span></div>
        <div class="col"><span class="nbtn"  rel="tabtwo"  >2. Confirm</span></div>

    </div>
    <form name="addChatVideo" id="addChatVideo" enctype="multipart/form-data" novalidate>

        <input type="hidden" name="docid" value="{{doctorId}}"  ng-model="doctorId"/>
        <input type="hidden" name="chatid" value="{{chatId}}"  ng-model="chatId"/>
        <input type="hidden" name="archiveId" value="{{aid}}"  ng-model="aid"/>
        <input type="hidden" name="userrole" value="{{usertype}}"  ng-model="usertype"/>
        <ion-content class="has-footer"> 



            <div class="notetab mrl2" id="tabone" style="height: 496px;" >
                <div class="fltr-mesg" > <span><strong>Recording:</strong> {{recording}}</span> &nbsp <span><strong>Time:</strong> {{result}}</span> </div>
                <div class="mediascreen">
                    <div id='subscribersDiv' class="subscribediv">Initializing Video</div> 
                </div>

                <div class="videoscreen">
                    <div class="vbtn">
                        <button type="button"  ng-click="playVideoPreview(aid)" >
                            <i class="ion-play f20"></i> <br/>View
                        </button>
                    </div>  

                </div>

            </div>	

            <div class="notetab mt60 mrl2" id="tabtwo" style="display:none;" >
                <div class="item item-divider mt15">Comment </div>
                <label class="item item-input">
                    <textarea  col="" rows="10" placeholder="Write your article here" ng-model="content"  name="content"  required=""></textarea>
                </label>
            </div>	

        </ion-content>
        <div class="footerbar">
            <!-- <button type="submit" ng-click="submit()" class="button button-positive"  style="width:100%" ng-disabled="addRecordForm.$invalid">Submit</button> -->
            <div class="tab-buttons">
                <div class="fixedbar row " rel="tabone">
                    <div class="col  button btn-share btn-add start brd0 " ng-click="recordVideo()"><i class="ion-record f20"></i> Start Recording</div>
                    <div class="col  button  btn-delete stop hide" ng-click="recordingStop()" ><i class="ion-stop f20 brd0"></i>  Stop Recording</div>
                    <div class="col col-50 button btn-share rerecording hide brd0" ng-click="reRecording()" > <i class="ion-record f20"></i> Re-record</div>
                    <div class="col col-50 button btn-add next brd0 hide" ng-click="tabclick('tabtwo')" >Proceed</div>
                </div>
                <div  class="fixedbar row tbtn" rel="tabtwo">
                    <button type="button" class="col button btn-add" ng-disabled="checkboxval" ng-click="submitchatVideo()">Submit</button>
                </div>
            </div>
        </div>

    </form>
</ion-view>


<script id="viewvideo" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">View Recording</h1>	 
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>




    <iframe  class="iframevideo"  frameborder="0" allowfullscreen="1" ng-src="{{trustSrc(playurl)}}"></iframe>

    <!-- <video width="100%" style="min-height:50px;" controls autoplay>
    <source src="{{trustSrc(playurl)}}" type="video/mp4">
    <source src="{{trustSrc(playurl)}}" type="video/ogg">
    Your browser does not support the video tag.
    </video>  -->



    </ion-content>

    </ion-modal-view>
</script>






